<div class="jumbotron">
  <h1 class="display-4">{{heroe.nombre}}<small class="text-muted">({{heroe.aparicion}})</small></h1>
  <hr class="my-4">
  <div class="container-fluid">
    <div class="row">
  <img src="{{heroe.img}}" class="rounded col-4" alt="...">
  <div class="col-8">
  <h3>{{heroe.nombre}}</h3>
  <hr class="my-4">
  <p>{{heroe.bio}}</p>
  <img *ngIf="heroe.casa=='DC'" src="assets/imagenes/dc.png" class="rounded col-2" alt="...">
  <img *ngIf="heroe.casa=='Marvel'" src="assets/imagenes/marvel.png" class="rounded col-2" alt="...">
  </div>
  <a class="btn btn-outline-danger col-4" [routerLink]="['/heroes']" role="button">Atras</a>
</div>  
</div>
</div>
